
.container {
    display: flex;
    align-items: center;
    gap: 40px; 
    padding: 10px 10px; 
    
  
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: flex;
    align-items: center; /* Ensure flex layout for dropdown */
  }
  
  .dropdown select {
    padding: 10px 30px 10px 10px; /* Adjust padding to make space for the arrow */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px; /* For rounded corners */
    appearance: none; /* Remove default dropdown arrow */
    background-color: white; /* Background color */
    cursor: pointer;
    width: 175px; /* Adjust width as needed */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Adjust size of arrow */
    border-right: 5px solid transparent; /* Adjust size of arrow */
    border-top: 5px solid #555; /* Color of the arrow */
    pointer-events: none; /* Ensure arrow does not interfere with clicking on select */
  }
  
  /* Menu styles */
  .menu {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    display: flex; /* Display items in a row */
    margin: 0;
    padding: 0px;
    
   
  }
  
  .menu li {
    margin-right: 7px; 
    cursor: pointer;
    font-weight:lighter;
  }
  
  .menu li:hover {
    text-decoration: none;
    
  }
  
.filters{
    margin-right: 40px;
    background-color: white;
    border-radius: 20px;
    width:90px;
    height:30px;
}


